@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

@* the fun starts here *@
<!doctype html>
<html>
<head>
	<!-- ... -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="~/css/24days.css" rel="stylesheet">
</head>
<body>
	<div class="tw-max-w-7xl tw-mx-auto tw-sm:tw-px-6 tw-lg:tw-px-8">
		@RenderBody()
	</div>
</body>
</html>
